/* Modal */
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 2.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: rgb(92, 22, 139);
  color: rgb(241, 241, 241);
  border-radius: 0.5rem;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  background-color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  text-align: center;
}

.modal h1 {
  font-size: 1.5rem;
  color: orange;
}

p {
  font-size: 1.1rem;
}
a {
  text-decoration: none;
  color: rgb(2, 0, 145);
}

form input,
form select,
form button,
form textarea {
  display: block;
  width: 100%;
  margin: 0.5rem auto 0.5rem auto;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 0.25rem;
  font-size: 0.7rem;
}

form button {
  padding: 0.7rem;
}

form textarea {
  height: 20%;
}

form input, select, textarea {
  box-shadow: inset 2px 2px 5px #babecc,     inset -5px -5px 10px #ffffff73;
}

form input.invalid {
  background-color: #ffdddd;
}

form button {
  background-color: rgb(2, 0, 145);
  color: #fff;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 0.8rem;
  right: 1.3rem;
  font-size: 2.5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

/* CLASS TO HIDE MODAL */
.hidden, .tab {
  display: none;
}

/* Style multi steps */

.prev-next-buttons {
  display: flex;
  flex-direction: row;
  float: right;
}

.prev-next-buttons button {
  margin-inline: 1rem;
}


.step {
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #198754;
}


fieldset {
  border: none;
}

fieldset legend {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.625rem;
  color: #198754;
}

fieldset .form-row .form-group{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  place-items: center;
}

.form-group label {
  font-size: 0.6rem;
  font-weight: bold;
}

.form-group .microchip {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.tab {
  display: none;
}

.buttons button {
  background-color: #198754;
  overflow: auto;
  padding: 0.5rem;
  cursor: pointer;
}

img {
  width: 16px;
}